/** Theme Root Px Value */
$rootVal: 16;

/** Theme Colors */
$white: #fff;
$black: #000;
$paleGrey: #f2efe8;
$grey: #cccccc;
$grey2: #444650;
$grey3: #737373;
$lightGrey: #9f9f9f;
$blue: #0f5dc0;
$lightBlue: #00aad2;
$lightestBlue: #f9f9f9;
$azure: #0078ff;
$red: red;
$red2: #e53935;
$peach: #f03a1f;
$peachRed: #f94444;
$melon: #fe735e;
$grapePurple: #892331;
$grapeRed: #9c1c1d;
$purple: #3f51b5;
$lightPurple: #726ec7;
$voilet: #9f1ecc;
$pink: #f1536e;
$sea-green: #20c5da;
$sea-green2: #c7dffc;
$darkGreen: #244b00;
$green: #19ac2c;
$green2: #a5be3f;
$turtleGreen: #61b548;
$lightGreen: #84e19a;
$orange: #fc4d1a;
$yellow: #f9b61c;
$yellow2: #f3b52a;
$mustard: #ffc52c;
$grey-calendar: #e6e7e8;

/** Theme Colors Pallete */
$theme__color--light: $white;
$theme__color--light2: #e5e5e5;
$theme__color--light3: #e2e2e2;
$theme__color--light4: #f5f5f5;
$theme__color--light5: #fafaff;

$theme__color--dark: $black;
$theme__color--dark2: #333333;
$theme__color--dark3: #474747;
$theme__color--dark4: #262626;
$theme__color--dark5: #252b42;

/** Theme Primary Colors */
$theme__primary-color--green-base: #9bcba2;
$theme__primary-color--green-lighter: #aad1b0;
$theme__primary-color--green-highlighted: #b2dcd0;

/** Theme Secondary Variables */
$theme__secondary-color--visits: #b1dbcf;
$theme__secondary-color--hospitalizations: #dc7b76;
$theme__secondary-color--procedure: #f79366;
$theme__secondary-color--medications: #f6d28f;
$theme__secondary-color--radiology: #7e75d4;
$theme__secondary-color--labs: #3586ee;

/** Theme Backgrounds Variables */
$theme__bg--base: #e8eff4;
$theme__bg--content: $white;
$theme__bg--green: #a4cfab;

/** Theme Typeset Variables */
$theme__text-title: $black;
$theme__text-title--light: #7685b7;
$theme__text-description: #0f1b52;
$theme__text-description--light: #7d7d7d;

/** Theme Typeset Variables */
$theme__icon--active: #0f1b52;
$theme__icon--inactive: #7685b7;

/** Others */
$action__green: #4bc65f;
$actions__red: #ec4d4d;

/** Theme Fonts */
$theme__primary-font--poppins: "Poppins", "Helvetica", "Arial", sans-serif;
$theme__primary-font--noto: "Noto Sans Arabic", sans-serif;
$theme__primary-font: $theme__primary-font--poppins !default;

@if $app-direction == rtl {
    $theme__primary-font: $theme__primary-font--noto;
}
