/*  =====================================
    Dropdown Configuration
=====================================   */
.dropdown-item {
    padding: 0;
    font-size: px-to-rem(18);
    line-height: 1.6;
    color: $theme__text-title;
    font-family: $theme__primary-font;
    font-weight: normal;
    text-align: $app-left;
    letter-spacing: 0.2px;
    line-height: px-to-rem(24);
    display: block;
    max-width: max-content;

    @media screen and (min-width: $laptop) {
        @include font-size(18);
    }

    i {
        line-height: inherit;
    }

    &:hover,
    &.active,
    &:active {
        background-color: transparent;
        border-bottom: none;
    }
}

.dropdown-menu {
    min-width: px-to-rem(240);
    background-color: $white;
    border: none;
    border-radius: 4px;
    text-align: $app-left;
    box-shadow: 0px 3px 114px rgba(15, 27, 82, 0.2);

    i {
        color: $theme__text-description;
        position: absolute;
        top: -12px;
        #{$app-left}: 12px;
        background-color: $white;
    }
}

.show {
    display: block;
}
//Dropdown Configuration Ends

/* =================================
   Theme Dropdowns Customizations 
====================================*/
.dropdown {
    &__profile {
        .dropdown-toggle {
            padding: 0;

            .img-thumbnail {
                border: none;
                width: px-to-rem(40);
                height: px-to-rem(40);
                padding: 0;
            }
        }
    }
}
