/*  =====================================
    Form Configuration
=====================================   */
form.custom-form {
    margin: 1.25rem auto;

    a[type="submit"] {
        padding: 1rem 2rem;
        -webkit-appearance: inherit;
    }

    .form-group {
        position: relative;
    }

    .form-control {
        height: auto;
        padding: 1.0625rem 1.375rem;
        font-size: 0.875rem;
        font-family: $theme__primary-font;
        letter-spacing: 0;
        margin: 0;
        border-radius: 0;
        //border: none;
        border: none;
        background-color: $paleGrey;
        color: rgba(0, 0, 0, 1);
        //opacity: 0.3;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(0, 0, 0, 0.3);
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(0, 0, 0, 0.3);
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(0, 0, 0, 0.3);
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(0, 0, 0, 0.3);
        }

        &.is-valid {
        }

        &.is-invalid {
        }
    }

    label {
        text-align: $app-left;
        font-family: $theme__primary-font;
        font-size: 0.875rem;
        letter-spacing: 0.7px;
        color: $theme__color--dark4;
        opacity: 1;
        margin-bottom: 1rem;
        margin-#{$app-left}: 0.5rem;
    }

    select {
        text-indent: 1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        text-overflow: ellipsis;
        background-image: url(http://cdn2.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
        background-repeat: no-repeat;
        background-size: 0.8rem;
        background-position: calc(100% - 1.375rem) center;
    }

    .form-text {
        text-align: $app-left;
        font-family: $theme__primary-font;
        font-size: 0.875rem;
        letter-spacing: 0.7px;
        opacity: 1;
        margin-bottom: 1rem;
        margin-#{$app-left}: 0.5rem;
    }

    .custom-checkbox.show-password {
        padding-#{$app-left}: 2rem;

        .checkmark {
            width: 1.75rem;
            height: 1.75rem;
        }

        .checkmark i {
            font-size: 0.75rem;
        }
    }

    .custom-checkbox.transport-type {
        height: 5rem;
        padding-#{$app-left}: 5rem;
    }
}

.noresize {
    resize: none;
}

.vresize {
    resize: vertical;
}

.hresize {
    resize: horizontal;
}
//Form Configuration Ends

/*  =====================================
    Form Elements
=====================================   */
input {
    font-family: $theme__primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: px-to-rem(18);
    line-height: 1.25;
    color: $theme__primary-color--green-base;

    &::placeholder {
        color: $theme__bg--base;
    }

    &.form-control {
        padding: px-to-rem(13) px-to-rem(14);
        border-radius: px-to-rem(8);

        &:focus {
        }
    }
}

// Form Elements Ends

/*  =====================================
    Form Control with Floating Icon
=====================================   */
.form-floating-icon {
    position: relative;

    .form-control {
        border: 1px solid transparent;
    }

    & > label {
        position: absolute;
        display: inline-block;
        top: 0;
        #{$app-left}: 0;
        width: auto;
        height: 100%;
        padding: px-to-rem(13) px-to-rem(14);
        overflow: hidden;
        text-align: $app-left;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        border: 1px solid transparent;
        transform-origin: 0 0;
        opacity: 0.45;
        @include transition(all 0.1s ease-in-out);
        text-align: $app-left;
    }

    & > .form-control-plaintext ~ label,
    & > .form-control:focus ~ label,
    & > .form-control:not(:placeholder-shown) ~ label,
    & > .form-select ~ label {
        opacity: 1;
        #{$app-left}: auto;
        #{$app-right}: 0;
    }

    & > .form-control-plaintext,
    & > .form-control,
    & > .form-select {
        padding-#{$app-left}: px-to-rem(48);
        @include transition(all 0.1s ease-in-out);

        &:focus {
            padding-#{$app-left}: px-to-rem(14);
        }
    }
}
// Form Control with Floating Icon
