/*  =====================================
    Form Configuration
=====================================   */
form.custom-form {
    margin: 1.25rem auto;

    a[type="submit"] {
        padding: 1rem 2rem;
        -webkit-appearance: inherit;
    }

    .form-group {
        position: relative;
    }

    .form-control {
        height: auto;
        padding: 1.0625rem 1.375rem;
        font-size: 0.875rem;
        font-family: $theme__primary-font--poppins;
        letter-spacing: 0;
        margin: 0;
        border-radius: 0;
        //border: none;
        border: none;
        background-color: $paleGrey;
        color: rgba(0, 0, 0, 1);
        //opacity: 0.3;

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: rgba(0, 0, 0, 0.3);
        }

        &::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(0, 0, 0, 0.3);
        }

        &:-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(0, 0, 0, 0.3);
        }

        &:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(0, 0, 0, 0.3);
        }

        &.is-valid {
        }

        &.is-invalid {
        }
    }

    label {
        text-align: left;
        font-family: $theme__primary-font--poppins;
        font-size: 0.875rem;
        letter-spacing: 0.7px;
        color: $theme__color--dark4;
        opacity: 1;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
    }

    select {
        text-indent: 1px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        text-overflow: ellipsis;
        background-image: url(http://cdn2.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
        background-repeat: no-repeat;
        background-size: 0.8rem;
        background-position: calc(100% - 1.375rem) center;
    }

    .form-text {
        text-align: left;
        font-family: $theme__primary-font--poppins;
        font-size: 0.875rem;
        letter-spacing: 0.7px;
        opacity: 1;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
    }

    .custom-checkbox.show-password {
        padding-left: 2rem;

        .checkmark {
            width: 1.75rem;
            height: 1.75rem;
        }

        .checkmark i {
            font-size: 0.75rem;
        }
    }

    .custom-checkbox.transport-type {
        height: 5rem;
        padding-left: 5rem;
    }
}

.noresize {
    resize: none;
}

.vresize {
    resize: vertical;
}

.hresize {
    resize: horizontal;
}
//Form Configuration Ends
