/*===============================
  Bootstrap Modal Customization
  ================================*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.65);

    &.fade {
        opacity: 0;
        @include transition(opacity 0.15s linear);

        .modal-dialog {
            @include transform(translate(0, -25%));
            @include transition(transform 0.3s ease-out);
        }
    }

    &.fade.show {
        opacity: 1;

        .modal-dialog {
            @include transform(translate(0, 0));
        }
    }
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialogue {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
    justify-content: center;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 0.3rem;
    outline: 0;
}

.modal-header {
    border: none;
    border-radius: 0;
    padding: 0;

    .close {
        opacity: 1;
        font-size: 0.75rem;
    }
}

.modal-title {
    margin-bottom: 0;
    line-height: 1;
    font-family: $theme__primary-font--poppins;
    font-size: 2rem;
    letter-spacing: 0;
    color: $theme__color--dark4;
    opacity: 1;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

//Bootstrap Modal Customization
