/*  =====================================
    Custom Tooltips Configuration
=====================================   */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: $darkGreen;
        color: $theme__color--light;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        #{app-left}: 50%;
        margin-#{app-left}: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        #{app-left}: 50%;
        margin-#{app-left}: -5px;
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}
//Custom Tooltips Configuration Ends
