/* Poppins Font Family */
$pathToFontsInAssets: "../../../assets/fonts/";
@font-face {
    font-family: "Poppins";
    src: url("#{$pathToFontsInAssets}Poppins-SemiBold.eot");
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
        url("#{$pathToFontsInAssets}Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("#{$pathToFontsInAssets}Poppins-SemiBold.woff2") format("woff2"),
        url("#{$pathToFontsInAssets}Poppins-SemiBold.woff") format("woff"),
        url("#{$pathToFontsInAssets}Poppins-SemiBold.ttf") format("ttf"),
        url("#{$pathToFontsInAssets}Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("#{$pathToFontsInAssets}Poppins-Medium.eot");
    src: local("Poppins Medium"), local("Poppins-Medium"),
        url("#{$pathToFontsInAssets}Poppins-Medium.eot?#iefix") format("embedded-opentype"),
        url("#{$pathToFontsInAssets}Poppins-Medium.woff2") format("woff2"),
        url("#{$pathToFontsInAssets}Poppins-Medium.woff") format("woff"),
        url("#{$pathToFontsInAssets}Poppins-Medium.ttf") format("ttf"),
        url("#{$pathToFontsInAssets}Poppins-Medium.svg#Poppins-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("#{$pathToFontsInAssets}Poppins-Regular.eot");
    src: local("Poppins Regular"), local("Poppins-Regular"),
        url("#{$pathToFontsInAssets}Poppins-Regular.eot?#iefix") format("embedded-opentype"),
        url("#{$pathToFontsInAssets}Poppins-Regular.woff2") format("woff2"),
        url("#{$pathToFontsInAssets}Poppins-Regular.ttf") format("ttf"),
        url("#{$pathToFontsInAssets}Poppins-Regular.woff") format("woff"),
        url("#{$pathToFontsInAssets}Poppins-Regular.svg#Poppins-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Poppins";
    src: url("#{$pathToFontsInAssets}Poppins-Bold.eot");
    src: local("Poppins Bold"), local("Poppins-Bold"),
        url("#{$pathToFontsInAssets}Poppins-Bold.eot?#iefix") format("embedded-opentype"),
        url("#{$pathToFontsInAssets}Poppins-Bold.woff2") format("woff2"),
        url("#{$pathToFontsInAssets}Poppins-Bold.woff") format("woff"),
        url("#{$pathToFontsInAssets}Poppins-Bold.ttf") format("ttf"),
        url("#{$pathToFontsInAssets}Poppins-Bold.svg#Poppins-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
